@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}




.main_bg{
    
    max-width: 1280px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
}



.form{
    width: 650px;
    border: solid 4px black;
    background: #fff;
    box-shadow: 50px rgba(0,0,0,.1);
    margin-top: 80px;
    
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}

.form-text h1{
    color: black;
    background-color: #4caf50;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 30px;
}





.main-form div{
    margin: 10px 8.5px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 3px solid #7fc142;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    cursor: pointer;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 3px solid #7fc142;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
    cursor: pointer;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: black;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: #7fc142 !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: #7fc142 !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

/* make by ruhul amin */