/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
}

.confirmation {
    background-color: #222;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #7fc142;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

h1 {
    text-align: center;
    color: #7fc142;
    margin-bottom: 50px;
}

.booking-details {
    padding: 10px;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

span {
    font-weight: normal;
    color: #33CC33; /* Warna hijau */
}



#submit {
    text-align: center;
}

#cancel  {
    background-color: #000; /* Warna latar belakang hitam */
    color: #00FF00; /* Warna teks hijau */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; /* Sudut bulat */
}

/* Gaya tombol "Confirm" */
#booking_id {
    background-color: #00FF00; /* Warna latar belakang hijau */
    color: #000; /* Warna teks hitam */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; /* Sudut bulat */
}
